<section>
  <h1>Create Recipes#create</h1>
  <%= form_for @recipe, url: recipes_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :cooking_time %>
    <%= f.number_field :cooking_time %>

    <%= f.label :preparation_time %>
    <%= f.number_field :preparation_time %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :public %>
    <%= f.check_box :public %>

    <%= f.hidden_field :user_id, value: current_user.id %>

    <%= f.submit 'Create Recipe' %>
  <% end %>
</section>

<% if flash[:notice] %>
        <div class="notice">
            <%= flash[:notice] %>
        </div>
    <% end %>