<div class='recipe_name_delete'>
    <a href="/users/user_id/recipes/<%= recipe.id %>">
    <%= recipe.name %> <%= recipe.id %>
    </a>  
    
    <a href="<%= user_recipe_path(@user, recipe) %>"
    data-turbo-method="delete"
    data-turbo-confirm="Are you sure?"
    data-method="delete">DELETE RECIPE</a>
     
</div>

<div class='recipe_description'>
    <%= recipe.description %>
</div>

