<h1>Shopping list</h1>
<div class="shopping-list-div">
    <h2>Amount of food to buy: <%= @amount_of_food_to_buy %></h2>
    <h2>Total value of food needed: <%= @total_value_of_food_needed %> $</h2>
</div>

<table>
    <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% @recipe.recipe_foods.each do |recipe_food| %>
            <tr>
                <td><%= recipe_food.food.name%></td>
                <td><%= recipe_food.quantity%> <%= recipe_food.food.measurement_unit %> </td>
                <td> <%= recipe_food.food.price * recipe_food.quantity %> $ </td>
            </tr>
        <% end %>
    </tbody>
</table>