<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class='recipe_app'>
  <h1 class='recipe_app_heading'>Recipe App</h1>
  <%= button_to "Logout", destroy_user_session_path, method: :delete %>

  <nav> 
   <ul>
     <li><a href="/recipes/new">Create Recipe</a></li>
     <li><a href="/public_recipes/">Public Recipe</a></li>
   </ul>
  </nav>

  
 
</div>

    <%= yield %>
  </body>
</html>
